{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
        
        {% if post.image %}
            <div class="post-image-detail" style="margin-top: 20px;">
                <img src="{{ post.image.url }}" class="rounded img-fluid" alt="{{ post.title }}" style="max-width: 100%; h-height: auto;">
            </div>
        {% endif %}
    </div>
{% endblock %}