<!DOCTYPE html>
<html>
<head>
    <title>KHU's blog</title>
</head>
<body>
    <div>
        <h1><a href="/">KHU's blog</a></h1>
    </div>

    <div>
        <p>published: 14.06.2026, 17:00</p>
        <h2><a href="">나의 첫 번째 게시글</a></h2>
        <p>장고 웹 프레임워크 과제를 수행 중입니다. 생각보다 재미있네요!</p>
    </div>

    <div>
        <p>published: 14.06.2026, 17:30</p>
        <h2><a href="">두 번째 게시글</a></h2>
        <p>맞춤형 템플릿을 제작하여 PythonAnywhere 배포까지 성공해봅시다.</p>
    </div>
</body>
</html>